.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}
.title {
  /* width: 215px; */
  color: orange;
}

.subTitle {
  color: #eee;
}
.wrapTitle {
  margin-bottom: 20px;
}

.text {
  max-width: 310px;
  width: 100%;
  text-align: left;
  color: #eee;
}
